<md-dialog aria-label='Create string utility functions' class="sin-function-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create text transformation function</h2>
        </div>
    </md-toolbar>
    <md-dialog-content ng-class="sin-dapaas-background ">
        <div layout="column">
            <md-input-container flex class="md-block md-padding">
                <label>Name</label>

                <input ng-model="functionCodeOptions.name" type="text">
            </md-input-container>
            <div layout="row" class="md-padding">
                <div>
                    <div layout="row">
                        <md-input-container>

                            <md-select ng-model="functionCodeOptions.textCaseOption" aria-label='text case options' placeholder="Case modifications">

                                <md-option ng-repeat="case in caseOptions" ng-value="case.code" placeholder="Case modifications">{{case.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container style="margin-left:40px">
                            <md-select aria-label='trim text options' placeholder="Trim whitespace" ng-model="functionCodeOptions.textTrimOption">
                                <md-option ng-repeat="trim in trimOptions" placeholder="Trim whitespace" ng-value="trim.code">{{trim.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-checkbox ng-model="substr" aria-label="substr" ng-disabled="$root.readonlymode" style="padding-bottom:25px">
                            Substring
                        </md-checkbox>

                        <div ng-if="substr" layout="row">
                            <md-input-container style="max-width:40px">
                                <label>From </label>
                                <input ng-model="functionCodeOptions.substr[0]" type="number">
                            </md-input-container>
                            <md-input-container style="max-width:40px; margin-left:20px">
                                <label>[To] </label>
                                <input ng-model="functionCodeOptions.substr[1]" type="number">
                            </md-input-container>
                        </div>

                    </div>
                    <div layout="column">
                        <md-checkbox ng-model="replace" aria-label="replace" ng-disabled="$root.readonlymode" style="padding-bottom:25px">
                            Replace
                        </md-checkbox>
                        <div ng-if="replace">
                            <div layout="row" ng-repeat="i in getMapLength(functionCodeOptions.replaceMap.length)">

                                <div layout="row">
                                    <md-button class="md-primary button-tight md-default-theme" ng-disabled="functionCodeOptions.replaceMap.length === 2" ng-click="removeMapPair(i)" aria-label="Remove replace pair">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </md-button>

                                    <div>
                                        <md-input-container>
                                            <label>Text </label>
                                            <input ng-trim="false" ng-model="functionCodeOptions.replaceMap[i]" type="text">
                                        </md-input-container>
                                    </div>
                                    <div>
                                        <md-input-container>
                                            <label>Replace with </label>
                                            <input ng-trim="false" ng-model="functionCodeOptions.replaceMap[i+1]" type="text">
                                        </md-input-container>
                                    </div>

                                </div>

                            </div>
                            <div>
                                <md-button class="md-raised" ng-click="addMapPair()" aria-label="Add map pair">Add replacement pair</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <pre class="text-transform-sample"> {{'"' + sample + '"'}}</pre>
                </div>
            </div>
            <div>
                <md-input-container flex class="md-block">
                    <label>Comment</label>

                    <input ng-model="functionCodeOptions.docstring" type="text">
                </md-input-container>
            </div>
            <md-toolbar class="md-actions" layout="row" layout-align="right">
                <md-button ng-click="applyCustomFunctionChanges()" aria-label="Apply custom function changes">Done</md-button>
                <md-button ng-click="cancelCustomFunctionChanges()" aria-label="Cancel changes to custom functions">Cancel</md-button>
            </md-toolbar>
    </md-dialog-content>
</md-dialog>
